.project-pages-wrapper-full {

	padding:1em 3em;
	
}
.project-pages-wrapper-narrow {

	width: 700px;
    margin-left: auto !important;
    margin-right: auto !important;
	
}

// modifies any card list wrapper, reducing X margins to allow more space for cards
.project-pages-wrapper-card-list {

    padding-left: 0.5em;
    padding-right: 0.5em;

}
@media only screen and (max-width: 800px){
	
	.project-pages-wrapper-narrow {
	    width: 600px;
	}


}
@media only screen and (max-width: 685px){
	
	.project-pages-wrapper-narrow {
	    max-width: 100%;
	    width:auto;
	}


}

// Here we override the default BS
// which sets this only for <768px break point
.justify-content-md-center {
    justify-content: center !important;
}


/*
@media only screen and (min-width: 1200px){
	
	.project-pages-body.project-pages-wrapper-narrow {
	    //width: 700px;
	}


}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.project-pages-body.project-pages-wrapper-narrow {
	    //width: 600px;
	}

} */