.pp-gradient-1 {
  
  color: #FFF !important;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ) !important;

}
.pp-gradient-1 span,
.pp-gradient-1 h1,
.pp-gradient-1 h2,
.pp-gradient-1 a,
.pp-gradient-1 .whpp-sharewrap,
.pp-gradient-1 .ui.secondary.inverted.pointing.menu .item {  
  color: #FFF !important;
}
.pp-gradient-2 {
  
  color: #000 !important;
  background-color: #85FFBD !important;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%) !important;

}
.pp-gradient-2 h1,
.pp-gradient-2 h2,
.pp-gradient-2 a,
.pp-gradient-2 .whpp-sharewrap,
.pp-gradient-2 .ui.secondary.inverted.pointing.menu .item {      
  color: #000 !important;
  border:0 !important;
}
.pp-gradient-2 .ui.secondary.inverted.pointing.menu .active.item {     
  border-color: #000 !important;
  border-bottom:2px solid #000 !important;
}
.pp-gradient-3 {
  
  background-color: #FBAB7E !important;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) !important;

}
.pp-gradient-3 h1,
.pp-gradient-3 h2,
.pp-gradient-3 a,
.pp-gradient-3 .whpp-sharewrap,
.pp-gradient-3 .ui.secondary.inverted.pointing.menu .item {      
  color: #000 !important;
  border:0 !important;
}
.pp-gradient-3 .ui.secondary.inverted.pointing.menu .active.item {     
  border-color: #000 !important;
  border-bottom:2px solid #000 !important;
}
.pp-gradient-4 {
  
  color: #FFF !important;
  background-color: #FF9A8B !important;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%) !important;

}
.pp-gradient-4 span {
  color: #FFF !important;
}
.pp-gradient-5 {
  
  color: #FFF !important;
  background-color: #FFE53B !important;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%) !important;

}
.pp-gradient-5 span {
  color: #FFF !important;
}
.pp-gradient-6 {
  
  background-color: #52ACFF !important;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%) !important;

}
.pp-gradient-6 h1,
.pp-gradient-6 h2,
.pp-gradient-6 a,
.pp-gradient-6 .whpp-sharewrap,
.pp-gradient-6 .ui.secondary.inverted.pointing.menu .item {      
  color: #000 !important;
  border:0 !important;
}
.pp-gradient-6 .ui.secondary.inverted.pointing.menu .active.item {     
  border-color: #000 !important;
  border-bottom:2px solid #000 !important;
}
.pp-gradient-7 {
  
  background-color: #FFDEE9 !important;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%) !important;

}
.pp-gradient-7 h1,
.pp-gradient-7 h2,
.pp-gradient-7 a,
.pp-gradient-7 .whpp-sharewrap,
.pp-gradient-7 .ui.secondary.inverted.pointing.menu .item {      
  color: #000 !important;
  border:0 !important;
}
.pp-gradient-7 .ui.secondary.inverted.pointing.menu .active.item {     
  border-color: #000 !important;
  border-bottom:2px solid #000 !important;
}
.pp-gradient-8 {
  
  color: #FFF !important;
  background-color: #21D4FD !important;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%) !important;

}
.pp-gradient-8 span {
  color: #FFF !important;
}
.pp-gradient-9 {
  
  color: #FFF !important;
  background-color: #F4D03F !important;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%) !important;

}
.pp-gradient-9 span {
  color: #FFF !important;
}
.pp-gradient-10 {

  background-color: #0093E9 !important;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%) !important;

}
.pp-gradient-10 h1,
.pp-gradient-10 h2,
.pp-gradient-10 a,
.pp-gradient-10 .whpp-sharewrap,
.pp-gradient-10 .ui.secondary.inverted.pointing.menu .item {      
  color: #000 !important;
  border:0 !important;
}
.pp-gradient-10 .ui.secondary.inverted.pointing.menu .active.item {     
  border-color: #000 !important;
  border-bottom:2px solid #000 !important;
}