.whppMetaBox .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.whppMetaBox .form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.whppMetaBox .form-control:-moz-placeholder {
	color: #999
}

.whppMetaBox .form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.whppMetaBox .form-control:-ms-input-placeholder {
	color: #999
}

.whppMetaBox .form-control::-webkit-input-placeholder {
	color: #999
}

.whppMetaBox .form-control[disabled],
.whppMetaBox .form-control[readonly],
.whppMetaBox fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1
}

.whppMetaBox textarea.form-control {
	height: auto
}

.whppMetaBox input[type=date] {
	line-height: 34px
}

.whppMetaBox .form-group {
	margin-bottom: 15px
}

.whppMetaBox .input-group-sm>.form-control,
.whppMetaBox .input-group-sm>.input-group-addon,
.whppMetaBox .input-group-sm>.input-group-btn>.btn,
.whppMetaBox .input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.whppMetaBox .input-group-sm>.input-group-btn>select.btn,
.whppMetaBox .input-group-sm>select.form-control,
.whppMetaBox .input-group-sm>select.input-group-addon,
.whppMetaBox select.input-sm {
	height: 30px;
	line-height: 30px
}

.whppMetaBox .input-group-sm>.input-group-btn>select[multiple].btn,
.whppMetaBox .input-group-sm>.input-group-btn>textarea.btn,
.whppMetaBox .input-group-sm>select[multiple].form-control,
.whppMetaBox .input-group-sm>select[multiple].input-group-addon,
.whppMetaBox .input-group-sm>textarea.form-control,
.whppMetaBox .input-group-sm>textarea.input-group-addon,
.whppMetaBox select[multiple].input-sm,
.whppMetaBox textarea.input-sm {
	height: auto
}

.whppMetaBox .input-group-lg>.form-control,
.whppMetaBox .input-group-lg>.input-group-addon,
.whppMetaBox .input-group-lg>.input-group-btn>.btn,
.whppMetaBox .input-lg {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}

.whppMetaBox .input-group-lg>.input-group-btn>select.btn,
.whppMetaBox .input-group-lg>select.form-control,
.whppMetaBox .input-group-lg>select.input-group-addon,
.whppMetaBox select.input-lg {
	height: 46px;
	line-height: 46px
}

.whppMetaBox .input-group-lg>.input-group-btn>select[multiple].btn,
.whppMetaBox .input-group-lg>.input-group-btn>textarea.btn,
.whppMetaBox .input-group-lg>select[multiple].form-control,
.whppMetaBox .input-group-lg>select[multiple].input-group-addon,
.whppMetaBox .input-group-lg>textarea.form-control,
.whppMetaBox .input-group-lg>textarea.input-group-addon,
.whppMetaBox select[multiple].input-lg,
.whppMetaBox textarea.input-lg {
	height: auto
}

.whppMetaBox tr.wh-large th {
	text-align: right
}

.whppMetaBox tr.wh-large label {
	font-size: 1.2em;
	color: #000;
}

.whppMetaBox tr.wh-large select,
.whppMetaBox tr.wh-large input {
	font-size: 1.2em;
	height: 30px
}

.whppMetaBox tr.wh-large select {
    padding: 0 30px 0 10px;
    line-height: 1;
}

.whppMetaBox tr.wh-large input {
    padding: 4px 10px;
}

.whppMetaBox tr.wh-large th,
.whppMetaBox tr.wh-large td {
	padding: 6px 20px;
	color: #304c69
}

.whppMetaBox table.wh-metatab tr th label {
	padding: 6px 20px;
	color: #304c69
}

.whppMetaBox table.wh-metatab tr.wh-large th label,
.whppMetaBox table.wh-metatab tr.wh-large td label {
	padding: 0
}

.whppMetaBox table.wh-metatab {
	min-width: 620px
}

.whppMetaBox table.wh-metatab tr.wh-hr td {
	padding: 0px 20px
}

.whppMetaBox table.wh-metatab tr.wh-hr hr {
	border-top: 1px solid #D4DBF0;
	border-bottom: 0
}

.whppMetaBox span.wh-info {
	font-size: 12px;
	padding: 4px 9px;
	color: #000;
	background: #CBE3EF;
	border-radius: 3px
}

.whppMetaBox .widetext {
	width: 100%
}

.whppMetaBox textarea.form-control {
	width: 100%;
	height: 120px
}