<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full"} -->
<main class="wp-block-group alignfull"><!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:project-pages-blocks/hero {"heroTextColour":"#ffffff","heroTextAltColour":"#4b73d7"} -->
<div class="wp-block-project-pages-blocks-hero project-pages-blocks-breadcrumb"><div>Hero will display here</div></div>
<!-- /wp:project-pages-blocks/hero -->

<!-- wp:columns {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--30)"><!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:66.66%"><!-- wp:project-pages-blocks/summary -->
<div class="wp-block-project-pages-blocks-summary project-pages-blocks-log-summary"><div style="text-align:none">Project summary will display here</div></div>
<!-- /wp:project-pages-blocks/summary --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:project-pages-blocks/status-card -->
<div class="wp-block-project-pages-blocks-status-card project-pages-blocks-log-summary"><div>Project card will display here</div></div>
<!-- /wp:project-pages-blocks/status-card --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:project-pages-blocks/body -->
<div class="wp-block-project-pages-blocks-body project-pages-blocks-log-summary"><div style="text-align:none">Project body will display here</div></div>
<!-- /wp:project-pages-blocks/body -->

<!-- wp:project-pages-blocks/logs -->
<div class="wp-block-project-pages-blocks-logs project-pages-blocks-log-summary"><div style="text-align:none">Project logs will display here</div></div>
<!-- /wp:project-pages-blocks/logs --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->