<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

  <!-- wp:group {"tagName":"main","align":"full"} -->
  <main class="wp-block-group alignfull">

    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group">
      <!-- wp:project-pages-blocks/hero-archives {"archiveTitle":"My Projects","heroTextColour":"#ffffff","heroTextAltColour":"#bcbcbc","bgColour":"#000000"} -->
      <div class="wp-block-project-pages-blocks-hero-archives project-pages-blocks-breadcrumb">
        <div>Hero will display here</div>
      </div>
    <!-- /wp:project-pages-blocks/hero-archives -->
    </div>
    <!-- /wp:group -->

    <!-- wp:project-pages-blocks/archive-body -->
    <div class="wp-block-project-pages-blocks-archive-body project-pages-blocks-log-summary">
      <div>Project Archives will display here</div>
    </div>
    <!-- /wp:project-pages-blocks/archive-body -->

  </main>
  <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->